 .navbar{
    background-color:rgb(0, 51, 102);
    /* color: #ffff; */
 }
 
 .navbar .navbar-brand{
    margin-left: 60px;
    color: #ffff;
 }
  
 .navbar .nav-link {
     color: #ffff;
    
 }
 .navbar .btn{
    margin-right: 60px;
 }

 /* Add user Data */
 .AddUser{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
 }

 .Add{
    width: 40%;
    height: 550px;
    background: #036;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
 }
 .Add h1{
    color: #ffff;
 }
 .Add .Form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
 }
 .Add .Form .Detail{
    display: flex;
    flex-direction: column;
 }
 label{
     
        color: rgb(238, 233, 233);
        text-transform: capitalize;
        font-weight: 700;
        text-align: center;
 }

 input[type="text"],input[type="email"],input[type="phone"]{
    border: 0;
background: none;
margin: 20px 0px 20px 0px;
text-align: center;
border: 3px solid rgb(246, 247, 248);
padding: 8px 80px;
color: rgb(249, 248, 248);
outline: none;
transition: 0.24px;
font-family: Arial, Helvetica, sans-serif;
font-size: 3vmin;
letter-spacing: 2px;
 }
 hr{
    color: black;
    height: 5;
 }
 input[type="submit"]{
    margin-top: 15px;
    border: 0;
    background-color: yellow;
    padding: 8px 0px;
    color: black;
    font-weight: 600;
    
 }
 /* Table */
